# Configuration de l'API
API_HOST=0.0.0.0
API_PORT=8000

# URL du backend pour le frontend Streamlit (front.py)
API_URL=http://127.0.0.1:8000

# Chemin des modèles
MODEL_PATH=modele_churn_telecom.pkl
SCALER_PATH=scaler_churn.pkl
